<img  src="http://www.bitcoin88.com/bettingbitcoins.com/wp-content/uploads/2015/03/1.png" style="width: 175px">
<h1>Hi, <%= @user.username %>!</h1>
<h1>Your Current Funds: $<%= @user.dollars %></h1>
<h2>See your game statistics at any time by clicking the "statistics" link above, and be sure to check out the leaderboard on the left!</h2>
