<img  src="http://www.bitcoin88.com/bettingbitcoins.com/wp-content/uploads/2015/03/1.png" style="width: 175px">
<h1>Hi, <%= @user.username %>!</h1>
<h3>Current Funds: $<%= @user.dollars %></h3>
<a href="#">Your Game Statistics</a>
