  <h1>Your Game Statistics:</h1>
  <% if @current_user.hands.count > 0 %>
  <table style="margin: 0 auto; font-size: 1.3em">
    <% @hand_ranks.each do |name| %>
      <tr>
        <td style="text-align: left; padding: 0 30px ">
          <%= name %>
        </td>
        <td>
          <%= ((@current_user.hands.where(hand_rank: name).count / @current_user.hands.count.to_f) * 100).round(2) %>%
        </td>
      </tr>
    <% end %>
  </table>
  <% else %>
    <h1>Oh no! Play a few hands to see your stats!</h1>
  <% end %>
