<table border="1" style="margin: 0 auto">
  <tr>
    <th>Hand Rank</th>
    <th>Description</th>
    <th>Payout</th>
  </tr>
  <tr>
    <td>Royal flush</td>
    <td>A, K, Q, J, 10, all the same suit.</td>
    <td>500X</td>
  </tr>
  <tr>
    <td>Straight flush</td>
    <td>Five cards in a sequence, all in the same suit.</td>
    <td>100X</td>
  </tr>
  <tr>
    <td>Four of a kind</td>
    <td>All four cards of the same rank.</td>
    <td>50X</td>
  </tr>
  <tr>
    <td>Full House</td>
    <td>Three of a kind with a pair.</td>
    <td>30X</td>
  </tr>
  <tr>
    <td>Flush</td>
    <td>Any five cards of the same suit, but not in a sequence.</td>
    <td>20X</td>
  </tr>
  <tr>
    <td>Straight</td>
    <td>Five cards in a sequence, but not of the same suit.</td>
    <td>8X</td>
  </tr>
  <tr>
    <td>Three of a kind</td>
    <td>Three cards of the same rank</td>
    <td>3X</td>
  </tr>
  <tr>
    <td>Two Pair</td>
    <td>Two different pairs</td>
    <td>2X</td>
  </tr>
  <tr>
    <td>Pair</td>
    <td>Two of the same cards</td>
    <td>1X</td>
  </tr>
  <tr>
    <td>High Card</td>
    <td>When you haven't made any of the hands above.</td>
    <td>Lose Bet</td>
  </tr>
</table>
