<p>
<strong>1. Royal flush </strong><br>
A, K, Q, J, 10, all the same suit.<br><br>

<strong>2. Straight flush</strong><br>
Five cards in a sequence, all in the same suit.<br><br>

<strong>3. Four of a kind</strong><br>
All four cards of the same rank.<br><br>

<strong>4. Full house</strong><br>
Three of a kind with a pair.<br><br>

<strong>5. Flush</strong><br>
Any five cards of the same suit, but not in a sequence.<br><br>

<strong>6. Straight</strong><br>
Five cards in a sequence, but not of the same suit.<br><br>

<strong>7. Three of a kind</strong><br>
Three cards of the same rank.<br><br>

<strong>8. Two pair</strong><br>
Two different pairs.<br><br>

<strong>9. High Card</strong><br>
When you haven't made any of the hands above, the highest card plays.<br><br>
</p>
