  <h2>Game Rules:</h2>
  <h3>The Game is simple...  You're dealt five cards.</h3>
<p> You decide which ones to replace by tapping the pictures on the screen. Hit the UPDATE button and get replacement cards for the cards you selected. You win if you wind up with a traditional poker hand like two pair, straight, flush, etc.<br><br> The amount you win per hand depends on how much you bet! </p>

<br>
  <%= link_to "Hand Rankings/Payouts", welcome_hands_path, :class => "button" %>

  <% if !@current_user %>
  <%= button_to "Register Now to Play!!!", new_user_path,
  :class => "button", :method => :get %>
  <% end %>
