/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: url("http://eskipaper.com/images/black-wallpaper-7.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Titillium Web', sans-serif;
  color:black;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0
}

header {
  color: #D68E00;
  background-color: rgba(20, 20, 20, 0.5);
  margin: 0;
  width: 100%;
  top: 0
}

main {
  width: 70vw;
  background-color: rgba(255, 255, 255, 0.6);
  border: 4px solid #FF14AB;
  border-radius: 30px;
  margin: 20px auto;
  padding: 30px;

}

p {
  text-align: left;
  margin: 5px 10px;
  font-size: 1.2em
}

div {
  margin: 0 5px;
}
img {
  height: 200px;
  width: 150px;
}

.hand {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

a {
  text-decoration: none;
  color: #BE0DFF;
  font-size: 1.2em;
  font-family: 'Titillium Web', sans-serif;
}

a:hover {
  text-decoration: underline;
  color: #FF14AB;

}

.button {
  color: #BE0DFF;
  display: inline-block;
  margin: 20px 0 0 0;
  padding: 10px;
  font-size: 2em;
  background: transparent;
  border: 5px solid #BE0DFF;
  border-radius: 20px;
  font-family: 'Titillium Web', sans-serif;
}

.button:hover {
  color: #FF14AB;
  border-color: #FF14AB;
  cursor: pointer
}

.alert{
   color:#f00;
}

.notice{
   color:#0f0;
}

#logo {
  font-family: 'Monoton', cursive;
  font-size: 4em;
  position: relative;
  display: block;
  text-align: center;
  animation: neon1 2s ease-in-out infinite alternate;
  color: #FF14AB;
  margin: 20px;
}

#logo:hover {
  text-decoration: none;
  text-shadow: none
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF14AB, 0 0 70px #FF14AB, 0 0 80px #FF14AB, 0 0 100px #FF14AB, 0 0 150px #FF14AB;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF14AB, 0 0 35px #FF14AB, 0 0 40px #FF14AB, 0 0 50px #FF14AB, 0 0 75px #FF14AB;
  }
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 10px;
}

#glow {
  animation: glow 1s 4
}

@keyframes glow {
  0% { color: #FF14AB }
  50% { color: black }
  100% { color: #FF14AB }
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
}

label{
    display: inline-block;
    position: relative;
    border: 4px solid transparent;
}

input:checked + label{
    border: 4px solid #f00;
}

.text_field {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.2s;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
}
.text_field:focus {
  border: solid 5px #FF14AB;
  outline: none;
}

#dollar{
  color: #FF14AB;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2em;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-left: 0px;

}

/* The navigation list item */
.sidenav li {
    padding: 8px 8px 8px 32px;
    list-style: inherit !important;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: right;
    /*margin: 0 0 0 -20px;*/
}

#user_highscore{
  color: red;
}
/* When you mouse over the navigation links, change their color */
.sidenav li:hover, #user_highscore:hover{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#leaderboard {
  position: fixed;
  color: black;
  border-top: 5px solid #FF14AB;
  border-right: 5px solid #FF14AB;
  border-bottom: 5px solid #FF14AB;
  background-color: rgba(255, 255, 255, 1);
  left: 0px;
  top: 15%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}
